<a href="https://colab.research.google.com/github/armiro/DataCamp-Selected-Courses/blob/master/Introduction%20to%20Databases%20in%20Python/Introduction_to_Databases_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basics of Relational Databases

## Engines and Connection Strings

Alright, it's time to create your first engine! An engine is just a common interface to a database, and the information it requires to connect to one is contained in a connection string, such as `sqlite:///census_nyc.sqlite`. Here, `sqlite` is the database driver, while `census_nyc.sqlite` is a SQLite file contained in the local directory.

You can learn a lot more about connection strings in the [SQLAlchemy documentation](http://docs.sqlalchemy.org/en/latest/core/engines.html#database-urls).

In [0]:
# Import create_engine
from sqlalchemy import create_engine

# Create an engine that connects to the census.sqlite file: engine
engine = create_engine("sqlite:///census.sqlite")
connection = engine.connect()

# Print table names
print(engine.table_names())

## Autoloading Tables from a Database

SQLAlchemy can be used to automatically load tables from a database using something called reflection. Reflection is the process of reading the database and building the metadata based on that information. It's the opposite of creating a Table by hand and is very useful for working with existing databases. 

To perform reflection, you need to import the `Table` object from the SQLAlchemy package. Then, you use this `Table` object to read your table from the engine and autoload the columns. Using the `Table` object in this manner is a lot like passing arguments to a function. For example, to autoload the columns with the engine, you have to specify the keyword arguments `autoload=True` and `autoload_with=engine` to `Table()`.

In [0]:
# Import Table
from sqlalchemy import Table, MetaData

# Reflect census table from the engine: census
metadata = MetaData()
census = Table("census", metadata, autoload=True, autoload_with=engine)

# Print census table metadata
print(repr(census))

## Viewing Table Details

Great job reflecting the `census` table! Now you can begin to learn more about the columns and structure of your table. It is important to get an understanding of your database by examining the column names. This can be done by using the `.columns` attribute and accessing the `.keys()` method. For example, `census.columns.keys()` would return a list of column names of the census table.

In [0]:
# Print the column names
print(census.columns.keys())

# Print full table metadata
print(repr(metadata.tables['census']))

## Selecting data from a Table: raw SQL

Using what we just learned about SQL and applying the `.execute()` method on our connection, we can leverage a raw SQL query to query all the records in our `census` table. The object returned by the `.execute()` method is a **ResultProxy**. On this ResultProxy, we can then use the `.fetchall()` method to get our results - that is, the **ResultSet**.

In [0]:
# Build select statement for census table: stmt
stmt = 'SELECT * FROM census'

# Execute the statement and fetch the results: results
results = connection.execute(stmt).fetchall()

# Print results
print(results)

## Selecting data from a Table with SQLAlchemy

Excellent work so far! It's now time to build your first select statement using SQLAlchemy. SQLAlchemy provides a nice "Pythonic" way of interacting with databases. So rather than dealing with the differences between specific dialects of traditional SQL such as MySQL or PostgreSQL, you can leverage the Pythonic framework of SQLAlchemy to streamline your workflow and more efficiently query your data. For this reason, it is worth learning even if you may already be familiar with traditional SQL.

In [0]:
# Import select
from sqlalchemy import select

# Build select statement for census table: stmt
stmt = select([census])

# Print the emitted statement to see the SQL emitted
print(stmt)

# Execute the statement and print the results
print(connection.execute(stmt).fetchall())

## Handling a ResultSet

Recall the differences between a ResultProxy and a ResultSet:

*   ResultProxy: The object returned by the `.execute()` method. It can be used in a variety of ways to get the data returned by the query.
*   ResultSet: The actual data asked for in the query when using a fetch method such as `.fetchall()` on a ResultProxy.

This separation between the ResultSet and ResultProxy allows us to fetch as much or as little data as we desire.

Once we have a ResultSet, we can use Python to access all the data within it by column name and by list style indexes. For example, you can get the first row of the results by using `results[0]`. With that first row then assigned to a variable first_row, you can get data from the first column by either using `first_row[0]` or by column name such as `first_row['column_name']`.

In [0]:
# Get the first row of the results by using an index: first_row
first_row = results[0]

# Print the first row of the results
print(first_row)

# Print the first column of the first row by using an index
print(first_row[0])

# Print the 'state' column of the first row by using its name
print(first_row['state'])

# Applying Filtering, Ordering and Grouping to Queries

## Connecting to a PostgreSQL Database

In these exercises, you will be working with real databases hosted on the cloud via Amazon Web Services (AWS)!

Let's begin by connecting to a PostgreSQL database. When connecting to a PostgreSQL database, many prefer to use the psycopg2 database driver as it supports practically all of PostgreSQL's features efficiently and is the standard dialect for PostgreSQL in SQLAlchemy.

You might recall from Chapter 1 that we use the `create_engine()` function and a connection string to connect to a database.

There are three components to the connection string in this exercise: the dialect and driver (`'postgresql+psycopg2://'`), followed by the username and password (`'student:datacamp'`), followed by the host and port (`'@postgresql.csrrinzqubik.us-east-1.rds.amazonaws.com:5432/'`), and finally, the database name (`'census'`). You will have to pass this string as an argument to `create_engine()` in order to connect to the database.

In [0]:
# Import create_engine function
from sqlalchemy import create_engine, select

# Create an engine to the census database
engine = create_engine('postgresql+psycopg2://student:datacamp@postgresql.csrrinzqubik.us-east-1.rds.amazonaws.com:5432/census')

# Use the .table_names() method on the engine to print the table names
print(engine.table_names())

## Filter data selected from a Table - Simple

Having connected to the database, it's now time to practice filtering your queries!

As mentioned in the video, a `where()` clause is used to filter the data that a statement returns. For example, to select all the records from the `census` table where the sex is Female (or `'F'`) we would do the following:

`select([census]).where(census.columns.sex == 'F')`

In addition to `==` we can use basically any python comparison operator (such as `<=`, `!=`, etc) in the `where()` clause.

In [0]:
# (as we do not have permission to access cloud-hosted postgresql,
# we have to connect through the locally uploaded sqlite database!)
from sqlalchemy import Table, MetaData
engine = create_engine("sqlite:///census.sqlite")
connection = engine.connect()
metadata = MetaData()
census = Table("census", metadata, autoload=True, autoload_with=engine)

In [0]:
# Create a select query: stmt
stmt = select([census])

# Add a where clause to filter the results to only those for New York
stmt = stmt.where(census.columns.state == 'New York')

# Execute the query to retrieve all the data returned: results
results = connection.execute(stmt).fetchall()

# Loop over the results and print the age, sex, and pop2008
for result in results:
    print(result.age, result.sex, result.pop2008)

## Filter data selected from a Table - Expressions

In addition to standard Python comparators, we can also use methods such as `in_()` to create more powerful `where()` clauses. You can see a full list of expressions in the [SQLAlchemy Documentation](http://docs.sqlalchemy.org/en/latest/core/sqlelement.html#module-sqlalchemy.sql.expression).

In [0]:
# (we've already created a list of some of the most densely populated states)
states = ['New York', 'California', 'Texas']

In [0]:
# Create a query for the census table: stmt
stmt = select([census])

# Append a where clause to match all the states in_ the list states
stmt = stmt.where(census.columns.state.in_(states))

# Loop over the ResultProxy and print the state and its population in 2000
for result in connection.execute(stmt):
    print(result.state, result.pop2000)

## Filter data selected from a Table - Advanced

You're really getting the hang of this! SQLAlchemy also allows users to use conjunctions such as `and_()`, `or_()`, and `not_()` to build more complex filtering. For example, we can get a set of records for people in New York who are 21 or 37 years old with the following code:

```
select([census]).where(
  and_(census.columns.state == 'New York',
       or_(census.columns.age == 21,
          census.columns.age == 37
         )
      )
  )
```

In [0]:
# Import and_
from sqlalchemy import and_

# Build a query for the census table: stmt
stmt = select([census])

# Append a where clause to select only non-male records from California using and_
stmt = stmt.where(
    # The state of California with a non-male sex
    and_(census.columns.state == 'California',
         census.columns.sex != 'M'
        )
)

# Loop over the ResultProxy printing the age and sex
for result in connection.execute(stmt):
    print(result.age, result.sex)

## Ordering by a Single Column

To sort the result output by a field, we use the `.order_by()` method. By default, the `.order_by()` method sorts from lowest to highest on the supplied column. You just have to pass in the name of the column you want sorted to `.order_by()`.

In [0]:
# Build a query to select the state column: stmt
stmt = select([census.columns.state])

# Order stmt by the state column
stmt = stmt.order_by(census.columns.state)

# Execute the query and store the results: results
results = connection.execute(stmt).fetchall()

# Print the first 10 results
print(results[:10])

## Ordering in Descending Order by a Single Column

You can also use `.order_by()` to sort from highest to lowest by wrapping a column in the `desc()` function. Although you haven't seen this function in action, it generalizes what you have already learned.

Pass `desc()` (for "descending") inside an `.order_by()` with the name of the column you want to sort by. For instance, `stmt.order_by(desc(table.columns.column_name))` sorts `column_name` in descending order.

In [0]:
# Import desc
from sqlalchemy import desc

# Build a query to select the state column: stmt
stmt = select([census.columns.state])

# Order stmt by state in descending order: rev_stmt
rev_stmt = stmt.order_by(desc(census.columns.state))

# Execute the query and store the results: rev_results
rev_results = connection.execute(rev_stmt).fetchall()

# Print the first 10 rev_results
print(rev_results[:10])

## Ordering by Multiple Columns

We can pass multiple arguments to the `.order_by()` method to order by multiple columns. In fact, we can also sort in ascending or descending order for each individual column. Each column in the `.order_by()` method is fully sorted from left to right. This means that the first column is completely sorted, and then within each matching group of values in the first column, it's sorted by the next column in the `.order_by()` method. This process is repeated until all the columns in the `.order_by()` are sorted.

In [0]:
# Build a query to select state and age: stmt
stmt = select([census.columns.state, census.columns.age])

# Append order by to ascend by state and descend by age
stmt = stmt.order_by(census.columns.state, desc(census.columns.age))

# Execute the statement and store all the records: results
results = connection.execute(stmt).fetchall()

# Print the first 20 results
print(results[:20])

## Counting Distinct Data

As mentioned in the video, SQLAlchemy's `func` module provides access to built-in SQL functions that can make operations like counting and summing faster and more efficient.

In the video, Jason used `func.sum()` to get a **sum** of the `pop2008` column of `census` as shown below:


> `select([func.sum(census.columns.pop2008)])`


If instead you want to **count** the number of values in `pop2008`, you could use `func.count()` like this:

> `select([func.count(census.columns.pop2008)])`

Furthermore, if you only want to count the **distinct** values of `pop2008`, you can use the `.distinct()` method:

> `select([func.count(census.columns.pop2008.distinct())])`

In this exercise, you will practice using `func.count()` and `.distinct()` to get a count of the distinct number of states in census.

So far, you've seen `.fetchall()` and `.first()` used on a ResultProxy to get the results. The ResultProxy also has a method called `.scalar()` for getting just the value of a query that returns only one row and column.

This can be very useful when you are querying for just a count or sum.

In [0]:
# (at first we have to import func)
from sqlalchemy import func

In [0]:
# Build a query to count the distinct states values: stmt
stmt = select([func.count(census.columns.state.distinct())])

# Execute the query and store the scalar result: distinct_state_count
distinct_state_count = connection.execute(stmt).scalar()

# Print the distinct_state_count
print(distinct_state_count)

## Count of Records by State

Often, we want to get a count for each record with a particular value in another column. The `.group_by()` method helps answer this type of query. You can pass a column to the `.group_by()` method and use in an aggregate function like `sum()` or `count()`. Much like the `.order_by()` method, `.group_by()` can take multiple columns as arguments.

In [0]:
# Build a query to select the state and count of ages by state: stmt
stmt = select([census.columns.state, func.count(census.columns.age)])

# Group stmt by state
stmt = stmt.group_by(census.columns.state)

# Execute the statement and store all the records: results
results = connection.execute(stmt).fetchall()

# Print results
print(results)

# Print the keys/column names of the results returned
print(results[0].keys())

## Determining the Population Sum by State

To avoid confusion with query result column names like `count_1`, we can use the `.label()` method to provide a name for the resulting column. This gets appended to the function method we are using, and its argument is the name we want to use.

We can pair `func.sum()` with `.group_by()` to get a sum of the population by `State` and use the `label()` method to name the output.

We can also create the `func.sum()` expression before using it in the select statement. We do it the same way we would inside the select statement and store it in a variable. Then we use that variable in the select statement where the `func.sum()` would normally be.

In [0]:
# Build an expression to calculate the sum of pop2008 labeled as population
pop2008_sum = func.sum(census.columns.pop2008).label('population')

# Build a query to select the state and sum of pop2008: stmt
stmt = select([census.columns.state, pop2008_sum])

# Group stmt by state
stmt = stmt.group_by(census.columns.state)

# Execute the statement and store all the records: results
results = connection.execute(stmt).fetchall()

# Print results
print(sorted(results))

# Print the keys/column names of the results returned
print(results[0].keys())

## SQLAlchemy ResultsProxy and Pandas Dataframes

We can feed a ResultProxy directly into a pandas DataFrame, which is the workhorse of many Data Scientists in PythonLand.

In [0]:
# import pandas
import pandas as pd

# Create a DataFrame from the results: df
df = pd.DataFrame(results)

# Set column names
df.columns = results[0].keys()

# Print the Dataframe
print(df)

## From SQLAlchemy results to a Graph

We can also take advantage of `pandas` and `Matplotlib` to build figures of our data. Remember that data visualization is essential for both exploratory data analysis and communication of your data!

In [0]:
# Import pyplot as plt from matplotlib
import matplotlib.pyplot as plt

# Create a DataFrame from the results: df
df = pd.DataFrame(results)

# Set Column names
df.columns = results[0].keys()

# Print the DataFrame
print(df)

# Plot the DataFrame
df.plot.bar()
plt.show()

# Advanced SQLAlchemy Queries

## Connecting to a MySQL Database

Before you jump into the calculation exercises, let's begin by connecting to our database. Recall that in the last chapter you connected to a PostgreSQL database. Now, you'll connect to a MySQL database, for which many prefer to use the `pymysql` database driver, which, like `psycopg2` for PostgreSQL, you have to install prior to use.

This connection string is going to start with `'mysql+pymysql://'`, indicating which dialect and driver you're using to establish the connection. The dialect block is followed by the `'username:password'` combo. Next, you specify the host and port with the following `'@host:port/'`. Finally, you wrap up the connection string with the `'database_name'`.

Now you'll practice connecting to a MySQL database: it will be the same `census` database that you have already been working with. One of the great things about SQLAlchemy is that, after connecting, it abstracts over the type of database it has connected to and you can write the same SQLAlchemy code, regardless!

In [0]:
# (we have to install pymysql separately; 
# run this command just for the first time)
!pip install pymysql

In [0]:
# Import create_engine function
from sqlalchemy import create_engine

# Create an engine to the census database
engine = create_engine('mysql+pymysql://student:datacamp@courses.csrrinzqubik.us-east-1.rds.amazonaws.com:3306/census')

# Print the table names
print(engine.table_names())

# (after that, we have to reflect the census table)
from sqlalchemy import MetaData, Table
connection = engine.connect()
metadata = MetaData()
census = Table('census', metadata, autoload=True, autoload_with=engine)

## Calculating a Difference between Two Columns

Often, you'll need to perform math operations as part of a query, such as if you wanted to calculate the change in population from 2000 to 2008. For math operations on numbers, the operators in SQLAlchemy work the same way as they do in Python.

You can use these operators to perform addition (`+`), subtraction (`-`), multiplication (`*`), division (`/`), and modulus (`%`) operations. Note: They behave differently when used with non-numeric column types.

Let's now find the top 5 states by population growth between 2000 and 2008.

In [0]:
# (import related modules from the sqlalchemy)
from sqlalchemy import select, desc

In [0]:
# Build query to return state names by population difference from 2008 to 2000: stmt
stmt = select([census.columns.state, (census.columns.pop2008-census.columns.pop2000).label('pop_change')])

# Append group by for the state: stmt
stmt = stmt.group_by(census.columns.state)

# Append order by for pop_change descendingly: stmt
stmt = stmt.order_by(desc('pop_change'))

# Return only 5 results: stmt
stmt = stmt.limit(5)

# Use connection to execute the statement and fetch all results
results = connection.execute(stmt).fetchall()

# Print the state and population change for each record
for result in results:
    print('{}:{}'.format(result.state, result.pop_change))

## Determining the Overall Percentage of Females

It's possible to combine functions and operators in a single select statement as well. These combinations can be exceptionally handy when we want to calculate percentages or averages, and we can also use the `case()` expression to operate on data that meets specific criteria while not affecting the query as a whole. The `case()` expression accepts a list of conditions to match and the column to return if the condition matches, followed by an `else_` if none of the conditions match. We can wrap this entire expression in any function or math operation we like.

Often when performing integer division, we want to get a float back. While some databases will do this automatically, you can use the `cast()` function to convert an expression to a particular type.

In [0]:
# import case, cast and Float from sqlalchemy
from sqlalchemy import case, cast, Float, func

# Build an expression to calculate female population in 2000
female_pop2000 = func.sum(
    case([
        (census.columns.sex == 'F', census.columns.pop2000)
    ], else_=0))

# Cast an expression to calculate total population in 2000 to Float
total_pop2000 = cast(func.sum(census.columns.pop2000), Float)

# Build a query to calculate the percentage of females in 2000: stmt
stmt = select([female_pop2000 / total_pop2000 * 100])

# Execute the query and store the scalar result: percent_female
percent_female = connection.execute(stmt).scalar()

# Print the percentage
print(percent_female)

## Automatic Joins with an Established Relationship

If you have two tables that already have an established relationship, you can automatically use that relationship by just adding the columns we want from each table to the select statement. Recall that Jason constructed the following query:

`stmt = select([census.columns.pop2008, state_fact.columns.abbreviation])`

in order to join the `census` and `state_fact` tables and select the `pop2008` column from the first and the `abbreviation` column from the second. In this case, the `census` and `state_fact` tables had a pre-defined relationship: the `state` column of the former corresponded to the `name` column of the latter.

In [0]:
# (first, we have to reflect the state_fact table)
state_fact = Table('state_fact', metadata, autoload=True, autoload_with=engine)

In [0]:
# Build a statement to join census and state_fact tables: stmt
stmt = select([census.columns.pop2000, state_fact.columns.abbreviation])

# Execute the statement and get the first result: result
result = connection.execute(stmt).first()

# Loop over the keys in the result object and print the key and value
for key in result.keys():
    print(key, getattr(result, key))

## Joins

If you aren't selecting columns from both tables or the two tables don't have a defined relationship, you can still use the `.join()` method on a table to join it with another table and get extra data related to our query. The `join()` takes the table object you want to join in as the first argument and a condition that indicates how the tables are related to the second argument. Finally, you use the `.select_from()` method on the select statement to wrap the join clause. For example, in the video, Jason executed the following code to join the `census` table to the `state_fact` table such that the `state` column of the `census` table corresponded to the `name` column of the `state_fact` table.

```
stmt = stmt.select_from(
    census.join(
        state_fact, census.columns.state == 
        state_fact.columns.name)
```

In [0]:
# Build a statement to select the census and state_fact tables: stmt
stmt = select([census, state_fact])

# Add a select_from clause that wraps a join for the census and state_fact
# tables where the census state column and state_fact name column match
stmt = stmt.select_from(
    census.join(state_fact, census.columns.state == state_fact.columns.name))

# Execute the statement and get the first result: result
result = connection.execute(stmt).first()

# Loop over the keys in the result object and print the key and value
for key in result.keys():
    print(key, getattr(result, key))

## More Practice with Joins

You can use the same select statement you built in the last exercise, however, let's add a twist and only return a few columns and use the other table in a `group_by()` clause.

In [0]:
# Build a statement to select the state, sum of 2008 population and census
# division name: stmt
stmt = select([
    census.columns.state,
    func.sum(census.columns.pop2008),
    state_fact.columns.census_division_name
])

# Append select_from to join the census and state_fact tables by the census state and state_fact name columns
stmt = stmt.select_from(
    census.join(state_fact, census.columns.state == state_fact.columns.name)
)

# Append a group by for the state_fact name column
stmt = stmt.group_by(state_fact.columns.name)

# Execute the statement and get the results: results
results = connection.execute(stmt).fetchall()

# Loop over the the results object and print each record.
for record in results:
    print(record)

## Using alias to handle same table joined queries

Often, you'll have tables that contain hierarchical data, such as employees and managers who are also employees. For this reason, you may wish to join a table to itself on different columns. The `.alias()` method, which creates a copy of a table, helps accomplish this task. Because it's the same table, you only need a where clause to specify the join condition.

Here, you'll use the `.alias()` method to build a query to join the `employees` table against itself to determine to whom everyone reports.

In [0]:
emp_engine = create_engine('sqlite:///employees.sqlite')
emp_connection = emp_engine.connect()
emp_metadata = MetaData()
employees = Table('employees', emp_metadata, autoload=True, autoload_with=emp_engine)

In [0]:
# Make an alias of the employees table: managers
managers = employees.alias()

# Build a query to select manager's and their employees names: stmt
stmt = select([managers.columns.name.label('manager'),
               employees.columns.name.label('employee')]
)

# Match managers id with employees mgr: stmt
stmt = stmt.where(managers.columns.id == employees.columns.mgr)

# Order the statement by the managers name: stmt
stmt = stmt.order_by(managers.columns.name)

# Execute statement: results
results = emp_connection.execute(stmt).fetchall()

# Print records
for record in results:
    print(record)

## Leveraging Functions and Group_bys with Hierarchical Data

It's also common to want to roll up data which is in a hierarchical table. Rolling up data requires making sure you're careful which alias you use to perform the group_bys and which table you use for the function.

Here, your job is to get a count of employees for each manager.

In [0]:
# Make an alias of the employees table: managers
managers = employees.alias()

# Build a query to select managers and counts of their employees: stmt
stmt = select([managers.columns.name, func.count(employees.columns.id)])

# Append a where clause that ensures the manager id and employee mgr are equal
stmt = stmt.where(managers.columns.id == employees.columns.mgr)

# Group by Managers Name
stmt = stmt.group_by(managers.columns.name)

# Execute statement: results
results = emp_connection.execute(stmt).fetchall()

# print manager
for record in results:
    print(record)

## Working on Blocks of Records

Fantastic work so far! As Jason discussed in the video, sometimes you may have the need to work on a large ResultProxy, and you may not have the memory to load all the results at once. To work around that issue, you can get blocks of rows from the ResultProxy by using the `.fetchmany()` method inside a loop. With `.fetchmany()`, give it an argument of the number of records you want. When you reach an empty list, there are no more rows left to fetch, and you have processed all the results of the query. Then you need to use the `.close()` method to close out the connection to the database.

You'll now have the chance to practice this on a large ResultProxy called `results_proxy` that has been pre-loaded for you to work with.

In [0]:
# (prepared the results_proxy)
stmt = select([census])
results_proxy = connection.execute(stmt)

# (define 'more_results' as True)
more_results = True

# (define 'state_count' as an empty dictionary)
state_count = dict()

In [0]:
# Start a while loop checking for more results
while more_results:
    # Fetch the first 50 results from the ResultProxy: partial_results
    partial_results = results_proxy.fetchmany(50)

    # if empty list, set more_results to False
    if partial_results == []:
        more_results = False

    # Loop over the fetched records and increment the count for the state
    for row in partial_results:
        if row.state in state_count:
            state_count[row.state] += 1
        else:
            state_count[row.state] = 1

# Close the ResultProxy, and thus the connection
results_proxy.close()

# Print the count by state
print(state_count)

# Creating and Manipulating your own Databases

## Creating Tables with SQLAlchemy

Previously, you used the `Table` object to reflect a table from an existing database, but what if you wanted to create a new table? You'd still use the `Table` object; however, you'd need to replace the `autoload` and `autoload_with` parameters with Column objects.

The `Column` object takes a name, a SQLAlchemy type with an optional format, and optional keyword arguments for different constraints.

When defining the table, recall how in the video Jason passed in `255` as the maximum length of a String by using `Column('name', String(255))`. Checking out the slides from the video may help: you can download them by clicking on 'Slides' next to the IPython Shell.

After defining the table, you can create the table in the database by using the `.create_all()` method on metadata and supplying the engine as the only parameter.

In [0]:
# (fisrt we have to define the engine, metadata and connection variables)
from sqlalchemy import MetaData, create_engine

temp_engine = create_engine("sqlite:///:memory:")
temp_connection = temp_engine.connect()
temp_metadata = MetaData()

In [0]:
# Import Table, Column, String, Integer, Float, Boolean from sqlalchemy
from sqlalchemy import Table, Column, String, Integer, Float, Boolean

# Define a new table with a name, count, amount, and valid column: data
data = Table('data', temp_metadata,
             Column('name', String(255)),
             Column('count', Integer()),
             Column('amount', Float()),
             Column('valid', Boolean())
)

# Use the metadata to create the table
temp_metadata.create_all(temp_engine)

# Print table details
print(repr(data))

## Constraints and Data Defaults

You're now going to practice creating a table with some constraints! Often, you'll need to make sure that a column is unique, nullable, a positive value, or related to a column in another table. This is where constraints come in.

As Jason showed you in the video, in addition to constraints, you can also set a default value for the column if no data is passed to it via the `default` keyword on the column.

In [0]:
# Import Table, Column, String, Integer, Float, Boolean from sqlalchemy
from sqlalchemy import Table, Column, String, Integer, Float, Boolean

# Define a new table with a name, count, amount, and valid column: data
# (set 'extend_existing=True', to avoid getting errors of already-defined table)
data = Table('data', temp_metadata,
             Column('name', String(255), unique=True),
             Column('count', Integer(), default=1),
             Column('amount', Float()),
             Column('valid', Boolean(), default=False),
             extend_existing=True
)

# Use the metadata to create the table
temp_metadata.create_all(temp_engine)

# Print the table details
print(repr(temp_metadata.tables['data']))

## Inserting a single row with an insert() statement

There are several ways to perform an insert with SQLAlchemy; however, we are going to focus on the one that follows the same pattern as the `select` statement.

It uses an `insert` statement where you specify the table as an argument, and supply the data you wish to insert into the value via the `.values()` method as keyword arguments.

Here, the name of the table is `data`.

In [0]:
# Import insert and select from sqlalchemy
from sqlalchemy import insert, select

# Build an insert statement to insert a record into the data table: stmt
stmt = insert(data).values(name='Anna', count=1, amount=1000.00, valid=True)

# Execute the statement via the connection: results
results = temp_connection.execute(stmt)

# Print result rowcount
print(results.rowcount)

# Build a select statement to validate the insert
stmt = select([data]).where(data.columns.name == 'Anna')

# Print the result of executing the query.
print(temp_connection.execute(stmt).first())

## Inserting Multiple Records at Once

It's time to practice inserting multiple records at once!

As Jason showed you in the video, you'll want to first build a list of dictionaries that represents the data you want to insert. Then, in the `.execute()` method, you can pair this list of dictionaries with an `insert` statement, which will insert all the records in your list of dictionaries.

In [0]:
# Build a list of dictionaries: values_list
values_list = [
    {'name': 'Anna', 'count': 1, 'amount': 1000.00, 'valid': True},
    {'name': 'Taylor', 'count':1, 'amount': 750.00, 'valid': False}
]

# Build an insert statement for the data table: stmt
stmt = insert(data)

# Execute stmt with the values_list: results
results = temp_connection.execute(stmt, values_list)

# Print rowcount
print(results.rowcount)

## Loading a CSV into a Table

You've done a great job so far at inserting data into tables! You're now going to learn how to load the contents of a CSV file into a table.

We have used the `csv` module to set up a `csv_reader`, which is just a reader object that can iterate over the lines in a given CSV file - in this case, a census CSV file. Using the `enumerate()` function, you can loop over the `csv_reader` to handle the results one at a time. Here, for example, the first line it would return is:

`0 ['Illinois', 'M', '0', '89600', '95012']`

`0` is the `idx` - or line number - while `['Illinois', 'M', '0', '89600', '95012']` is the `row`, corresponding to the column names '`state`' , '`sex`', '`age`', '`pop2000` 'and '`pop2008`'. '`Illinois`' can be accessed with `row[0]`, 'M' with `row[1]`, and so on. You can create a dictionary containing this information where the keys are the column names and the values are the entries in each line. Then, by appending this dictionary to a list, you can combine it with an `insert` statement to load it all into a table!

In [0]:
# (create the 'csv_reader' using 'csv' module to read the 'census.csv' file)
import csv

csv_file = open('census.csv', mode='r', newline='')
csv_reader = csv.reader(csv_file, delimiter=',', quotechar='"')

In [0]:
# (create 'census' as an empty table)
from sqlalchemy import Table, Column, String, Integer

census = Table('census', temp_metadata,
               Column('state', String(30)),
               Column('sex', String(1)),
               Column('age', Integer()),
               Column('pop2000', Integer()),
               Column('pop2008', Integer()),
               extend_existing=True)

temp_metadata.create_all(temp_engine)

In [0]:
# Create an insert statement for census: stmt
stmt = insert(census)

# Create an empty list and zeroed row count: values_list, total_rowcount
values_list = list()
total_rowcount = 0

# Enumerate the rows of csv_reader
for idx, row in enumerate(csv_reader):
    #create data and append to values_list
    data = {'state': row[0], 'sex': row[1], 'age': row[2], 'pop2000': row[3], 'pop2008': row[4]}
    values_list.append(data)

    # Check to see if divisible by 51
    if idx % 51 == 0:
        results = temp_connection.execute(stmt, values_list)
        total_rowcount += results.rowcount
        values_list = list()

# Print total rowcount
print(total_rowcount)

## Updating individual records

The `update` statement is very similar to an `insert` statement, except that it also typically uses a `where` clause to help us determine what data to update. You'll be using the FIPS state code using here, which is appropriated by the U.S. government to identify U.S. states and certain other associated areas. Recall that you can update all wages in the `employees` table as follows:

`stmt = update(employees).values(wage=100.00)`

In [0]:
from sqlalchemy import Table, MetaData, create_engine, update

engine = create_engine("sqlite:///census.sqlite")
connection = engine.connect()
metadata = MetaData()
state_fact = Table("state_fact", metadata, autoload=True, autoload_with=engine)
name = select([state_fact.columns.name])
fips_state = select([state_fact.columns.fips_state])

In [0]:
# Build a select statement: select_stmt
select_stmt = select([state_fact]).where(state_fact.columns.name == 'New York')

# Print the results of executing the select_stmt
print(connection.execute(select_stmt).fetchall())

# Build a statement to update the fips_state to 36: stmt
stmt = update(state_fact).values(fips_state = 36)

# Append a where clause to limit it to records for New York state
stmt = stmt.where(state_fact.columns.name == 'New York')

# Execute the statement: results
results = connection.execute(stmt)

# Print rowcount
print(results.rowcount)

# Execute the select_stmt again to view the changes
print(connection.execute(select_stmt).fetchall())

## Updating Multiple Records

As Jason discussed in the video, by using a `where` clause that selects more records, you can update multiple records at once. It's time now to practice this!

In [0]:
# (create 'notes' and 'census_region_name' columns)
notes = select([state_fact.columns.notes])
census_region_name = select([state_fact.columns.census_region_name])

In [0]:
# Build a statement to update the notes to 'The Wild West': stmt
stmt = update(state_fact).values(notes='The Wild West')

# Append a where clause to match the West census region records
stmt = stmt.where(state_fact.columns.census_region_name == 'West')

# Execute the statement: results
results = connection.execute(stmt)

# Print rowcount
print(results.rowcount)

## Deleting all the records from a table

Often, you'll need to empty a table of all of its records so you can reload the data. You can do this with a `delete` statement with just the table as an argument. For example, in the video, Jason deleted the table `extra_employees` by executing as follows:

```
delete_stmt = delete(extra_employees)
result_proxy = connection.execute(delete_stmt)
```

Do be careful, though, as deleting cannot be undone!

In [0]:
# Import delete, select
from sqlalchemy import select, delete

# Build a statement to empty the census table: stmt
stmt = delete(census)

# Execute the statement: results
results = temp_connection.execute(stmt)

# Print affected rowcount
print(results.rowcount)

# Build a statement to select all records from the census table
stmt = select([census])

# Print the results of executing the statement to verify there are no rows
print(temp_connection.execute(stmt).fetchall())

## Deleting specific records

By using a `where()` clause, you can target the `delete` statement to remove only certain records. For example, Jason deleted all rows from the `employees` table that had id `3` with the following delete statement:

In [0]:
# (import modules)
from sqlalchemy import func, and_

# (reflect 'census' table)
census = Table("census", metadata, autoload=True, autoload_with=engine)

In [0]:
# Build a statement to count records using the sex column for Men ('M') age 36: stmt
stmt = select([func.count(census.columns.sex)]).where(
               and_(census.columns.sex == 'M',
                    census.columns.age == 36)
)

# Execute the select statement and use the scalar() fetch method to save the record count
to_delete = connection.execute(stmt).scalar()

# Build a statement to delete records from the census table: stmt_del
stmt_del = delete(census)

# Append a where clause to target Men ('M') age 36
stmt_del = stmt_del.where(
    and_(census.columns.sex == 'M',
         census.columns.age == 36)
)

# Execute the statement: results
results = connection.execute(stmt_del)

# Print affected rowcount and to_delete record count, make sure they match
print(results.rowcount, to_delete)

## Deleting a Table Completely

You're now going to practice dropping individual tables from a database with the `.drop()` method, as well as all tables in a database with the `.drop_all()` method!

Do be careful when deleting tables, as it's not simple or fast to restore large databases! Remember, you can check to see if a table exists with the `.exists()` method.

In [0]:
# Drop the state_fact table
state_fact.drop(engine)

# Check to see if state_fact exists
print(state_fact.exists(engine))

# Drop all tables
metadata.drop_all(engine)

# Check to see if census exists
print(census.exists(engine))